{% extends 'base.html' %}
{% load web_filter %}
{% block content %}
{% load static %}

<div id="content" class="app-content" style="padding: 1rem !important;">

    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-4">
                      <div class="d-flex h-30px form-control form-control-lg bg-white bg-opacity-25 mb-1 fs-12px p-0 w-200px text-white align-items-center justify-content-center">Database Navigator</div>
                        {% csrf_token %}
                        <div class="d-flex">
                          <div>
                            {% for item in column%}
                                {%if forloop.first%}
                                <button type="button" class="btn-dataNavi fs-12 w-100px active btn btn-outline-naviDF d-block mb-1 me-0 h-30px p-0 deactive text-white" onclick="{{item.0}}('{{item.0}}');">{{item.0}}</button>
                                {% else%}
                                <button type="button" class="btn-dataNavi fs-12 w-100px btn btn-outline-naviDF d-block mb-1 me-0 h-30px p-0 deactive text-white" onclick="{{item.0}}('{{item.0}}');">{{item.0}}</button>
                                {%endif%}
                            {%endfor%}
                        </div>
                            <div class="form-control form-control-lg bg-white bg-opacity-10 w-270px h-810px">
                                <div class="Navi-DF Navi-DF-Teradata-menu DataFabric-scroll" >
                                    <div class="Navi-DF-menu1">
                                        <i class="bi bi-caret-down-fill menu-list menu-list1 menu-icon">{{column.0.0}}</i>
                                        <div class="Navi-DF-menu2" id="database_table">
                                            {% for item in data%}
                                            <i class="bi bi-caret-right-fill menu-list menu-list2 menu-icon" onclick="execute('{{item.1|safe}}', this);"><i class="bi bi-file-earmark-text">{{item.1}}</i></i></br>
                                            {% endfor%}
                                            <div class="Navi-DF-menu3" id="navigator_table">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8">
                        <div class="d-flex h-30px form-control form-control-lg bg-white bg-opacity-25 mb-1 fs-12px p-0 w-200px  text-white align-items-center justify-content-center">Table Properties</div>
                        <div class="w-100">
                            <div class="d-flex">
                                <div>
                                    <button type="button" class="btn-tableProperties fs-12px w-100px btn btn-outline-naviDF d-block mb-1 h-30px p-0 text-white active">Data</button>
                                    <button type="button" class="btn-tableProperties fs-12px w-100px btn btn-outline-naviDF d-block mb-1 h-30px p-0 text-white">Column</button>
                                    <button type="button" class="btn-tableProperties DDL-btn fs-12px w-100px btn btn-outline-naviDF d-block mb-1 h-30px p-0 text-white">DDL</button>
                                </div>

                                <div class="form-control form-control-lg bg-white bg-opacity-10 h-810px col-xl-8">
                                    <table id="properties_Table" class="table TableProperties table-bordered dataFabricTable-sm">
                                        <thead>
                                            <tr class="table-dark">
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                                <th>1</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td >2aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                                                <td>2aaaaaaaaaaaaa</td>
                                                <td>2aaaaaaaaaaa</td>
                                                <td>2aaaaaaaaaaa</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <td>2</td>
                                                <td>2aaaaaaaaaa</td>
                                                <td>2</td>
                                                <td>2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    console.log({{data|safe}});
    console.log({{column|safe}});

    column_list = {{column|safe}};

    for(let i = 0; i < column_list.length; i++){
        window[column_list[i][0]] = function(name){
            $.ajax({
                type : "POST",
                url : "navigator_database_api/",
                data : {
                    'name' : name
                },
                async : false,
                success : function(res){
                    $('#database_table').empty()
                    var str = "";
                                            
                    $.each(res.data, function(i){
                        str += `<i class="bi bi-caret-right-fill menu-list menu-list2 menu-icon" onclick="execute('` + res.data[i] +`', this);" id='` + res.data[i] +`'><i class="bi bi-file-earmark-text">` + res.data[i] +`</i></i></br>`
                    });
                    str += `<div class="Navi-DF-menu3" id="navigator_table">`
                    str += `</div>`
                    $('#database_table').append(str)
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert('Error');
                }
            });
        }
    }
    

    function execute(f, class_property) {
        if($(class_property).attr("class").includes('down-fill')){
            $(class_property).attr('class', 'bi bi-caret-right-fill menu-list menu-list3 menu-icon ');
            $('#navigator_table').empty()
        }else {
        params = {
            'name' : String(f)
        };
        console.log(class_property);
        var data_name =  $(class_property).attr("id");
        if ($(class_property).attr("class").includes('right-fill')){
            $.ajax({
                type : "POST",
                url : "navigator_api/",
                data : params,
                async : false,
                success : function(res){
                    $('#navigator_table').empty()
                    var str = "";
                    $.each(res.data, function(i){
                        var ddl = res.ddl[i].replace(/\r/g, "</br>").replace(/'/g, "<hr>");
                        str += `<i class="bi bi-caret-down-fill menu-list menu-list3 menu-icon " onclick="properties_view('` +String(f) + `','`+ String(res.data[i]) + `', '` + ddl +`');"><i class="bi bi-people ">` + res.data[i] +`</i></i></br>`
                    });
                    $(class_property).attr('class', 'bi bi-caret-down-fill menu-list menu-list3 menu-icon ');
                    $('#navigator_table').append(str)
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert('데이터 테이블의 값이 없습니다');
                }
            });
        }
        }
    }

    function properties_view(a, f, ddl){
        params = {
            'database' : a,
            'table' : f,
            'ddl' : ddl
        }
        $.ajax({
                type : "POST",
                url : "property_api/",
                data : params,
                async : false,
                success : function(res){
                    $('#properties_columns').empty()
                    $('#properties_data').empty()
                    $('#columns_columns').empty()
                    $('#columns_data').empty()
                    $('#ddl_data').empty()

                    console.log(res);
                    var str = "";
                    $.each(res.data_column, function(i){
                        str += `<th>` + res.data_column[i] + `</th>`
                    });
                    
                    $('#properties_columns').append(str)



                    var str = "";
                    $.each(res.data, function(i){
                        str += `<tr>`
                            $.each(res.data[i], function(j){
                                str += `<td>` + res.data[i][j] + `</td>`
                            });
                        str += `</tr>`
                    });
                    
                    $('#properties_data').append(str)



                    var str = "";
                    str += `<th>#</th>`
                    $.each(res.columns_column, function(i){
                        str += `<th>` + res.columns_column[i] + `</th>`
                    });
                    $('#columns_columns').append(str)

                    var str = "";
                    $.each(res.columns, function(i){
                        str += `<tr>`
                            str += `<td>` + (i+1) + `</td>`
                            $.each(res.columns[i], function(j){
                                if(j == 1){
                                    if(res.columns[i][1].trim() == 'N'){
                                        str += `<th>[V]</th>`
                                    }else{
                                        str += `<th>[ ]</th>`
                                    }
                                }else{
                                    str += `<td>` + res.columns[i][j] + `</td>`
                                }
                            });
                        str += `</tr>`
                    });
                    $('#columns_data').append(str)
                    
                    var str = "";
                    str += `<tr>`
                            str += `<td>1</td>`
                            str +=  `<td class="text-truncate">CREATE</td>`
                            str +=      `<td>`
                            str +=              res.ddl
                            str +=       `</td>`
                            str +=  `</td>`
                    str += `</tr>`
                    $('#ddl_data').append(str)
                },
                beforeSend: function() {
                    
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert('Error');
                }
            });
    }
</script>
{% endblock %}