{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="content" class="app-content" style="padding: 1rem !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="query-container">
                        <button type="button" class="btn btn-primary btn-sm w-100px h-35px queryBtn fs-12px fw-700" onclick="query('query_start');" id='query_start'><i class="fas fa-play pe-2"></i>실행</button>
                        <button type="button" class="btn btn-secondary btn-sm w-100px h-35px queryBtn fs-12px fw-700" onclick="stop();" id='query_stop' style="display: none;"><i class="fas fa-pause pe-2"></i>정지</button>
                        <button type="button" class="btn btn-secondary btn-sm w-100px h-35px queryBtn fs-12px" id='addScript'>+ Add Script</button>
                        <!--<button type="button" class="btn btn-outline-white btn-sm w-100px h-35px queryBtn-outline fs-12px">QueryGrid</button>-->
                        <!-- BEGIN alert -->
                        <div class="modal" id="alertQueryNot">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <i class="bi bi-exclamation-triangle-fill" style="color:#ff9f0c;"></i>
                                            <span>경고 </span>
                                            <i class="bi bi-exclamation-triangle-fill" style="color:#ff9f0c;"></i>
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <p>쿼리 창은 최대 10개까지 만들 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                            <p style="text-align: center;">클릭 시 자동으로 탭이 닫힙니다.</p>
                        </div>
                        <!-- END alert -->
                        <div class="mt-sm-1">
                            <ul class="nav nav-tabs change-tabs query-tabs">
                                <li class="nav-item me-1 w-100px text-center fs-12px">
                                    <a href="#Query1" class="nav-link change-link active queryBtn" data-bs-toggle="tab">Query
                                        <i class="fas fa-times-circle ms-1 delScript" style="z-index:2;"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content query-tabContent">
                                <div class="query-box tab-pane fade show active" id="Query1">
                                    <form class="position-relative">
                                        <textarea class="query-input position-absolute" id="query_text" onkeydown="KeyDown(event)" spellcheck='false'></textarea>
                                        <div class="show_text"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="result-container">
                        <div class="mt-sm-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <ul class="nav nav-tabs change-tabs result-tabs">
                                    <li class="nav-item me-1 w-100px text-center fs-12px"><a href="#result1" class="nav-link change-link active" data-bs-toggle="tab">Result</a></li>
                                </ul>
                                <div class="queryDownload-container">
                                    <div class="queryDownload-box d-flex">
                                        <button type="button" class="btn btn-sm downloadBtn" onclick="sql_export('excel');"><i class="fas fa-file-alt file-icon"></i><span class="download-text">Excel</span><i class="fas fa-download download-icon"></i></button>
                                        <button type="button" class="btn btn-sm downloadBtn" onclick="sql_export('csv');"><i class="fas fa-file-alt file-icon"></i><span class="download-text">CSV</span><i class="fas fa-download download-icon"></i></button>
                                        <button type="button" class="btn btn-sm downloadBtn" onclick="sql_export('json');"><i class="fas fa-file-alt file-icon"></i><span class="download-text">JSON</span><i class="fas fa-download download-icon"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="result-box tab-pane fade show active" style="white-space: nowrap" id="result1">
                                    <div class="DataFabric-scroll" id='webquery_div'>
                                        <table id="webQuery_table" class="table table-bordered dataFabricTable-sm queryTable fs-12px text-nowrap">
                                            <thead>
                                            <tr class="table-dark" id='query_thead'>
                                            </tr>
                                            </thead>
                                            <tbody id="query_tbody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function KeyDown(e){
        if(e.ctrlKey) {
            if (e.key === 'Enter') {
                query()
            }
        }
    }

    function query() {

        let txtArea = document.getElementById('query_text');
        let txtValue = txtArea.value.trim();

        /*=====================커서 위치 지정==================*/
        let selectPos = txtArea.selectionStart;

        /*=====================문단의 첫문자==================*/
        let startIndex = txtValue.lastIndexOf(';', selectPos);

        /*=====================문단의 마지막 문자==================*/
        let lastIndex = txtValue.indexOf(';', selectPos);

        /*=====================결과값==================*/
        let resultTxt = txtValue.substring(startIndex + 1, lastIndex);

        /*if ($.fn.DataTable.isDataTable('#webQuery_table')) {
                                var table = $("#webQuery_table").DataTable()
                                table.colReorder.reset();
                                table.destroy();
                                alert('hi');
                            };*/

        setCookie('query', String(resultTxt.trimStart()), 1);
        var params = {
            'data' : resultTxt.trimStart()
        }
        $.ajax({
                type : "POST",
                url : "query_content/",
                data : params,
                success : function(res){
                    document.getElementById("query_stop").style.display = "none";
                    document.getElementById("query_start").style.display = "inline";
                    document.getElementById("query_thead").style.fontSize = "10px";
                    if (res.type == 'select'){
                        if (res.status==200){
        
                            if ($.fn.DataTable.isDataTable('#webQuery_table')) {
                                $("#webQuery_table").remove()
                                var str = "";
                                str += '<table id="webQuery_table" class="table table-bordered dataFabricTable-sm queryTable fs-12px text-nowrap">'
                                str += '<thead>'
                                str += `<tr class="table-dark" id='query_thead'>`
                                str += `</tr>`
                                str += `</thead>`
                                str += `<tbody id="query_tbody">`
                                str += `</tbody>`
                                str += '</table>'
                                $("#webquery_div").html(str);
                            };

                            var str = "";
                            $.each(res.column, function(i){
                                str += '<Th style="display: sticky; border:1px solid rgba(255, 255, 255, .2);"' + res.column[i]+ '>' + res.column[i]+ '</Th>'
                            });
                            $("#query_thead").html(str);
                            handleRenderWebQueryTableData(res.data);


                        }else if (res.status==400){
                            $("#query_thead").empty();
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'create'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'insert'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'update'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'delete'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'drop'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'rename'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'alter'){
                        $("#query_thead").empty();
                        if (res.status==200){
                            document.getElementById("query_thead").style.fontSize = "15px";
                            var str = "";
                            str += '</br>'
                            $.each(res.data, function(i){
                                str +=res.data[i] + '</br></br>'
                            });

                            $("#query_thead").html(str);
                        }else if (res.status==400){
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }else if (res.type == 'show'){
                        if (res.status==200){
                            var str = "";
                            str += '<th style="border:1px solid rgba(255, 255, 255, .2);">No.</th>'
                            $.each(res.column, function(i){
                                str += '<Th style="display: sticky; border:1px solid rgba(255, 255, 255, .2);"' + res.column[i]+ '">' + res.column[i]+ '</Th>'
                            });
                            $("#query_thead").append(str);

                            var str = "";
                            $.each(res.data, function(i){
                                str += '<TR>'
                                str += '<td class="text-center" style="border:1px solid rgba(255, 255, 255, .2);">'+ i +'</td>'
                                for(var j = 0; j < res.data[i].length; j++){
                                    str += '<td style="border:1px solid rgba(255, 255, 255, .2); padding-left : 5px;">' + res.data[i][j] +'</td>'
                                }
                                str += '</TR>'
                            });
                            $("#query_tbody").html(str);

                        }else if (res.status==400){
                            $("#query_thead").empty();
                            var str = "";
                            $.each(res.data, function(i){
                                str +=  res.data[i] + '</br>'
                            });
                            $("#query_thead").html(str);
                        }
                    }
                },
                beforeSend: function() {
                    document.getElementById("query_stop").style.display = "inline";
                    document.getElementById("query_start").style.display = "none";
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert("쿼리를 제대로 입력해주세요");
                    document.getElementById("query_stop").style.display = "none";
                    document.getElementById("query_start").style.display = "inline";
                    var str = "";
                    str += '<TR>'
                    str += '<td> 쿼리를 제대로 입력해주세요 </td>'
                    str += '</TR>'
                    $("#query_tbody").html(str);
                }
            });
    }
    function sql_export(f){
        var type = f;
        var sql = getCookie('query');

        var params = {
            'type' : type,
            'sql' : sql
        };
        console.log(params);
        $.ajax({
                type : "GET",
                url : "export_api/",
                data : params,
                async : false,
                success : function(res){
                    console.log(res);
                    if (res['status'] == 200){
                        console.log(res);
                        alert(type + '이 만들어졌습니다');
                    }else if(res['status']==400){
                        alert(type + '이 만들어졌습니다');
                    }
                },
                beforeSend: function() {
                    console.log('hi');
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    alert('에러발생');
                }
            });
    }
</script>

<!-- END content -->
{% endblock %}